.hm-bg{
	background: url(dc_photo.jpg);
	background-size: cover;
	height: 500px;
	width: 100%;
	color: white;
}
.hm-title{
	font-size: 8em;
	color: white;
	text-align: center;
}
.hm-text{
	text-align: left;
	margin-left: 18em;
}