video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(sample2.jpg) no-repeat;
background-size: cover;
}

.list-container {
  padding: 1em;
  width: 280px;
  font-family: 'FontSite Sans', sans-serif;
  background: white;
}