<div>
  <div class="hm-bg">
  	<h1 class="hm-title">dwellWell</h1>
  	<p class="hm-text">lorem</p>
  </div>
  <div class="features">
  	<p>lorem</p>
  	<li>add houses</li>
  	<li>divide chores</li>
  	<li>calculate and split bills</li>
  	<li>enjoy social living!</li>
  </div>
  <div class="pricing">
  	FREE!!!!!
  </div>
</div>
