
<video autoplay="" loop="" poster="sample2.jpg" id="bgvid">
<source src="samples.mplayerhq.hu/MPEG-4/vorbis-in-mp4/mi2_vorbis51.mp4" type="video/mp4">
<source src="bg_vid.mp4" type="video/mp4">
 video not supported</video>

<p>
<strong>Artist: </strong>
 <div class="list-container">
	 <ul>
		 <% @event.each do |venue| %>
		  <li>
		  <%= venue %>
		  <% end %>
		</li>
	 	</li>
	 </ul>
 </div>
</p>


<%= link_to 'Back', events_path %>
