

<div>
  <div class="hm-bg">

  <p class="hm-text text-left">dwellwell is an app that allows roommates to divide chores, caclulate and split bills, and enjoy social living!  And - it's FREE!!</p>
  <%= image_tag("dwellwellhome.svg") %>

  </div>
  <div class="cloud">
  </div>
<!--   <div class="features">
  <p>lorem</p>
  <li>add houses</li>
  <li>divide chores</li>
  <li>calculate and split bills</li>
  <li>enjoy social living!</li>
  </div>
  <div class="pricing">
  FREE!!!!!
  </div> -->
</div>

