index.html.erb
<form id="search">
				  <label for="track">Track</label>
				  <input type="search" id="track">
				  <br>
				  <label for="artist">Artist</label>
				  <input type="search" id="artist">
				  <br>
				  <input type="submit" value="Search">
</form>